---
---

<section class="categories">
	{% assign categories = site.categories | sort %}
	{% for category in categories %}
		{% assign name = category[0] %}
		{% assign posts = category[1] %}
		{% assign size = posts | size %}
		<section class="category">
				<h3>
					{% for slugify_category in site.data.categories %}{% if name == slugify_category.slug %}
					<a href="{{ site.baseurl }}/category/{{ slugify_category.slug }}/">{{ slugify_category.name }}</a>
					{% endif %}
					{% endfor %}
				</h3>

			<ul>
				{% assign tutorials = posts | sort: "title" %}
				{% for tutorial in tutorials limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ tutorial.url }}">{% include document-icon.html icon=tutorial.type %}{{ tutorial.title }}</a></li>
				{% endfor %}
				{% if size > 4 %}
					<li><a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ size | minus: 4 }} mais...</a></li>
				{% endif %}
			</ul>
		</section>
	{% endfor %}
</section>